<div class="container">

    <table class="table table-sm">
        <thead>
            <th></th>
            <th></th>
            <th class="text-center">EMPLOYEE DETAILS</th>
            <th></th>
            <th></th>
        </thead>
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">Image</th>
            <th class="text-center">Full Name</th>
            <th class="text-center">Birthdate</th>
            <th class="text-center">Position</th>
        </thead>
        <ng-container *ngFor=" let emp of empArray">
            <tr class="table-dark">
                <td class="text-center pt-4">{{emp.empId}}</td>
                <td class="text-center"><img src="{{emp.imageUrl}}" alt="Image Broken" width="75px" height="60px"
                        style="border-radius: 50%;" class="z-depth-2"></td>
                <td class=" text-center pt-4">{{emp.empFn}} {{emp.empMn}} {{emp.empLn}}</td>
                <td class=" text-center pt-4">{{emp.empBday}}</td>
                <td class=" text-center pt-4">{{emp.empPosition}}</td>
            </tr>
        </ng-container>
    </table>
</div>