

<br>
<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="container">
        <div class="row justify-content-around">

            <!--FIRST COLUMN-->
            <div class="col-lg-4">
                <div class="text-center ">
                    <img [src]="imgSrc " width="250px" height="250px" (click)="fileUploader.click()" class="z-depth-1" >
                </div>
                <div class="form-group">
                    <label>Select image to upload</label>
                    <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
                        (change)="showPreview($event)">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is
                        required.
                    </div>
                </div>
            </div>

            <!--SECOND COLUMN-->
            <div class="col-lg-5">
                <br>
                <div class="form-group">
                    <input class="form-control" formControlName="empId" placeholder="id" disabled>
                    <div class="text-danger" *ngIf="isSubmitted && formControls.empId.errors?.required">
                        This field is required.
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" formControlName="empLn" placeholder="Family name">
                            <div class="text-danger" *ngIf="isSubmitted && formControls.empLn.errors?.required">
                                This field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <input class="form-control" formControlName="empFn" placeholder="Given name">
                            <div class="text-danger" *ngIf="isSubmitted && formControls.empFn.errors?.required">
                                This field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <input class="form-control" formControlName="empMn" placeholder="M.I" type="text">
                            <div class="text-danger" *ngIf="isSubmitted && formControls.empMn.errors?.required">
                                This field is required.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <input class="form-control" formControlName="empBday" type="date" id="picker">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.empBday.errors?.required">
                        This field is required.
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control" formControlName="empPosition" placeholder="Position">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.empPosition.errors?.required">
                        This field is required.
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-control" formControlName="empDepartment">
                        <option value="" disabled selected>-- Choose a Department --</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="System Administrator">System Administrator</option>
                        <option value="Information Security">Information Security</option>
                        <option value="QA Automation Specialist">QA Automation Specialist</option>
                        <option value="QA Bilingual (English & Spanish) Specialist">QA Bilingual (English & Spanish)
                            Specialist</option>
                    </select>
                     <div class="text-danger" *ngIf="isSubmitted && formControls.empDepartment.errors?.required">
                        This field is required.
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>