@import url("https://fonts.googleapis.com/css?family=Hind:700&display=swap");

.form-control {
  font-style: italic;
}

.btnAdd {
  text-align: center;
}

.text-danger {
    font-size: 13px;
}

img {
  border-radius: 50%;
  
}

.modAdd {
  font-size: 13px;
  border-radius: 0;
  width: auto;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  letter-spacing: .1em;
}

